<body>
<h2><p class="p-3 mb-2 text-center text-warning">Desafio Star Wars</p></h2>
<style>
    body {
        background-color: darkslategray;
    }
</style>


    <img src="/img/a.jpg" class="img-fluid" alt="Imagem responsiva">
</body>


