<h2>Planeta(s) encontrado(s):</h2>
<br>
<br>

<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Planeta</th>
            <th scope="col">Clima</th>
            <th scope="col">Terreno</th>
            </tr>        
    </thead>    
        <tbody>
            <tr> 
                <td>{{planeta.id}}</td>      
                <td>{{planeta.nome}}</td>
                <td>{{planeta.clima}}</td>
                <td>{{planeta.terreno}}</td>   
            </tr>
        </tbody>  
</table>